
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Ulka Games Ltd</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="newsite/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="newsite/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="newsite/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="newsite/vendor/ionicons/css/ionicons.min.css" rel="stylesheet"> -->
  <!-- <link href="newsite/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="newsite/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="newsite/vendor/aos/aos.css" rel="stylesheet"> -->

  <!-- Game CSS -->
  <link rel="stylesheet" href="css/newStyle.css">

  <!-- Template Main CSS File -->
  <link href="newsite/css/style.css" rel="stylesheet">

  <style>
    .webGameName {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      margin: 0px 0 10px 0;

    }

    .webGameIcon {

      height: 200px;
      width: 180px;
      margin: 0 auto;
      overflow: hidden;
      padding: 10px 0;
      border-radius: 30px;
      align-items: center;
      justify-content: space-around;
      display: flex;
      float: none;
    }

    .webGamePlayButton {

      width: 120px;
      margin: 0 auto 15px;
      overflow: hidden;
      padding: 8px 0;
      border-radius: 15px;
      align-items: center;
      justify-content: space-around;
      display: flex;
      float: none;
      background-color: #3069de;
        border-color: #3069de;
    }

    .androidGameIcon {

      height: 200px;
      width: 180px;
      margin: 0 auto;
      overflow: hidden;
      padding: 10px 0;
      border-radius: 30px;
      align-items: center;
      justify-content: space-around;
      display: flex;
      float: none;
    }
    #footer .footer-top .social-links a{
      font-size: 18px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    margin-left: 10px;
    margin-bottom: 10px;

    }
    .socialIcon {
    font-size: 30px;
  
    }
    .employeePic{
      width: 230px;
      height: auto;
    }
    #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 16px;
    color: #fff;
}

#moonfrog_info{
  margin-top: 10%;
}
    
#teenPattiGameViewer{
  max-width: 800px;
  width: 800px;
  margin-top: 200px;
}


    @media only screen and (max-width: 600px) {
      #hero .intro-img {
    width: 100%;
}
      .webGameName {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px 0 10px 0;

      }

      .webGameIcon {

        height: 180px;
        width: 160px;
        margin: 0 auto;
        overflow: hidden;
        padding: 10px 0;
        border-radius: 30px;
        align-items: center;
        justify-content: space-around;
        display: flex;
        float: none;
      }

      .webGamePlayButton {

        width: 120px;
        margin: 0 auto 15px;
        overflow: hidden;
        padding: 8px 0;
        border-radius: 15px;
        align-items: center;
        justify-content: space-around;
        display: flex;
        float: none;
        background-color: #3069de;
        border-color: #3069de;
      }
    }
  </style>
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <!-- <div id="topbar" class="d-none d-lg-flex align-items-end fixed-top topbar-transparent">
    <div class="container d-flex justify-content-end">
      <div class="social-links">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/ulkagames" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/ulkagames" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div> -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="https://ulka.games">Ulka Games</a></h1>
      <nav class="main-nav d-none d-lg-block">
        <ul>
          <li class="active"><a href="https://ulka.games">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Popular Games</a></li>
          <li><a href="#features">Legal</a></li>
          <li><a href="#portfolio">Web Games</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav-->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="1">
          <h2>Welcome to <span>Ulka Games Ltd.</span></h2>
          <!-- <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div> -->
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="2">
          <img src="newsite/img/ulka.jpg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="1">
              <img src="newsite/img/addapage2.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="1">
              <h2>About Us</h2>
              <p>
                Founded in early 2019, ULKA GAMES LIMITED (UGL) is the fastest growing game development studio in
                Bangladesh. We focus on Card, Board and Casual mobile games for South Asia.
                UGL is committed to the development of the Game industry of Bangladesh. <br> <br> We have 45+ passionate
                game professionals and are constantly looking for great talents to join our team.
                We are part of  <a href = "https://www.moonfroglabs.com" target="_blank">Moonfrog Labs Private Limited</a>, India’s leading game development studio. <br> <br>
                We have games like Teen Patti Gold, Ludo Club, Adda, Alia Bhatt, Bahubali, Jalebi and many more.
                Moonfrog was formed in 2013 and raise USD 15M+ from world's top two VC firm  <a href = "https://www.sequoiacap.com/companies/moonfrog" target="_blank">Sequoia Capital</a>  and 
                <a href = "https://www.tigerglobal.com" target="_blank">Tiger Global</a> 
                
              </p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Card Games</li>
                <li><i class="ion-android-checkmark-circle"></i> Board Games</li>
                <li><i class="ion-android-checkmark-circle"></i> Hyper Casual Games and more.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Our Popular Games</h3>
          <p>We have the some of the best Card, Board and Casual games for you.</p>
        </header>

        <div class="row">

          <% for (var game of androidgames) { %>

          <div class="col-lg-4 col-6" data-wow-delay="0.2s" alt="Responsive image">

            <a href="<%=game.link%>" target="_blank">
              <img src="<%=game.pic%>" alt="<%=game.name%>" style="width:100%">
            </a>
            <!-- <div class="portfolio-wrap" onclick="ShowGame('<%=game%>');">  -->
            <!-- <img src="<%=game.pic%>" class="img-fluid" alt="Responsive image" style="width:250px; height:250px;"> -->
            <!-- <div class="portfolio-info"> -->
            <!-- <h4><a href="<%=game.link%>" target="_blank"><%=game.name%></a></h4>  -->
            <!-- <h4 class="webGameName" ><%=game%></h4> -->
            <!-- <div class="member-info-content"> -->
            <!-- <h4><%=game%> </h4> -->
            <!-- </div> -->


            <!-- <div> -->
            <!-- <a href="newsite/img/portfolio/webgame.png" class="link-preview venobox" data-gall="portfolioGallery" title="App 3"><i class="ion ion-eye"></i></a> -->
            <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            <!-- </div> -->
            <!-- </div> -->
          </div>
          <!-- </div> -->


          <% } %>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container-fluid" data-aos="fade-up">

        <header class="section-header">
          <h3>Moonfrog Labs</h3>
          <p>India’s fastest growing mobile gaming company!</p>
        </header>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="1">
            <div class="why-us-img">
              <img src="newsite/img/mf.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <p id="moonfrog_info">

                We believe the Indian market is the best opportunity in the world right now. The number of Indians with Internet and smartphone access is skyrocketing year after year. This puts Moonfrog at a multi-point advantage.
                <br><br>
                Our flagship hit Ludo Club has been downloaded more than 60 million times and to date one of the most popular instant game on Facebook Globally. We also have other popular IPs like Teen Patti Gold, Jalebi, Baahubali: The Game and Alia Bhatt: Star Life.
                <br><br>
                What more? We are backed by two of the world’s biggest investors — Sequoia Capital and Tiger Global. We have seen, bitten, lived, and played hard enough to know the magical revolution a brilliant mix of product design, disruptive platforms and technology can bring about. We're the team who has worked on Mafia Wars, CastleVille, Bubble Safari, Cafe World, Yoville, Hidden Chronicles, Empires & Allies, games loved by hundreds of millions of people.

              </p>

            </div>

          </div>

        </div>

      </div>

      <div class="container">

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row feature-item">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="1">
            <img src="newsite/img/legal2.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="1">
            <h4>Legal Status & Memberships: </h4>
            <p>
              RJSC Incorporation Number (C-152057/2019). <br>
              Business Identification Number (BIN) : 002069073-0101 <br>
              Tax Identification Number (TIN): 317147171255
              <br><br>

             <b>We are member of: </b>  <br>

              Bangladesh Association of Software and Information Services   <a href = "https://basis.org.bd/company-profile/A825" target="_blank">(A-825)</a> <br>
              Dhaka Chamber of Commerce and Industry (06682) <br>
              Bangladesh Investment Development Authority (J-20191229001476-H)
              <br><br>
              All business activities of Ulka Games Limited are compliant with the Laws of Government of Bangladesh and
              all necessary VAT & TAX are paid for such transactions.

              <br><br>
              For any queries please feel free to contact:
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="1">
            <img src="newsite/img/legal.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="1">
            <h4>LEGAL:</h4>
            <p>
              <a href="https://www.linkedin.com/in/a-b-m-hamidul-mishbah-70b80313" target="_blank"> Barrister A B M Hamidul Mishbah</a> (L.L.B, L.L.M)  <br>
              Managing Partner: Old Bailey Chambers <br>
             Email : <a href = "mailto: mishbah@oldbaileybd.com">mishbah@oldbaileybd.com</a> <br> 
             Phone: <a href="tel:+8801727444888">01727444888</a>
            </p>
            <h4>VAT & TAX:</h4>
            <p>
              <a href="https://www.linkedin.com/in/montakimahmed" target="_blank"> Montakim Ahmed</a> (FCCA, ACA)  <br>
              Partner: Ace Advisory<br> 
              Email : <a href = "mailto: montakim.ahmed@aceadvisory.biz">montakim.ahmed@aceadvisory.biz</a>

              <br><br>
              <a href="https://www.linkedin.com/in/talat-shams-pahlowan-70043238" target="_blank">  Talat Shams Pahlowan</a> <br>
              Manager Ace Advisory<br> 
              Email : <a href = "mailto: talat.shams@aceadvisory.biz">talat.shams@aceadvisory.biz</a>
    
            </p>
            <h4>Business Inquiries:</h4>
            <p>
            
              <a href="https://www.linkedin.com/in/md-ridwan-ahmed-77aba737/" target="_blank">Ridwan Ahmed</a>  <br>
              Manager, Ulka Games Limited  <br>
             Email : <a href = "mailto: ridwan@ulka.games">ridwan@ulka.games</a> <br> 
             Phone: <a href="tel:+8801743973827">01743973827</a>
           
              <br> <br>
      
              <a href="https://www.linkedin.com/in/ariful-islam-suman-347a7269/" target="_blank">Ariful Islam</a>  <br>
              Manager, Ulka Games Limited  <br>
             Email : <a href = "mailto: ariful@ulka.games">ariful@ulka.games</a> <br> 
             Phone: <a href="tel:+8801911102455">01911102455</a>

            </p>
          </div>

        </div>

      </div>
    </section>

    <!-- End Features Section -->


    <!-- ======= Portfolio Section ======= -->

    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Our Web Games</h3> <br>
        </header>

        <div class="row">

                      
          <div class="col-lg-3 col-6"  data-aos="zoom-in" data-aos-delay="1">

            <a href="https://ls-3.teenpattigold.com/web?src=ulka" target="_blank">  
               <img class="webGameIcon" src="/img/MFGameIcons/teenpatti.jpg"></a> 
         
            <h4 class="webGameName">Teen Patti</h4>
            <p type="button" class="btn btn-danger col align-self-center webGamePlayButton">Play Now</p>
          </div>


                        
          <div class="col-lg-3 col-6"  data-aos="zoom-in" data-aos-delay="1">

            <a href="https://d33719rttp6xkj.cloudfront.net" target="_blank">  
               <img class="webGameIcon" src="/img/MFGameIcons/ludo.jpg"></a> 
         
            <h4 class="webGameName">Ludo Club </h4>
            <p type="button" class="btn btn-danger col align-self-center webGamePlayButton">Play Now</p>
          </div>

                      
       

          <% for (var game of htmlgames) { %>

          <div class="col-lg-3 col-6" onclick="ShowGame('<%=game%>');" data-aos="zoom-in" data-aos-delay="1">
            <img class="webGameIcon" src="newsite/minigames/<%=game%>.png">
            <h4 class="webGameName"><%=game%></h4>
            <p type="button" class="btn btn-danger col align-self-center webGamePlayButton">Play Now</p>
          </div>

          <% } %>
        </div>

    </section><!-- End Portfolio Section -->

    <section id="videos" class="features">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Videos</h3>
        </div>
    
    <div class="row feature-item">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="1">
        <iframe width="520" height="315" src="https://www.youtube.com/embed/xG9sxfEKNwo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="1">
        <iframe style="margin-left: 20px;" width="520" height="315" src="https://www.youtube.com/embed/NcwOvzmsk2g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
      </div>
      </section>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="section-bg">
      <div class="footer-top">
        <div class="container">

          <div class="row">

            <div class="col-lg-6">
              <div class="footer-links">
                <h4>Contact Us</h4>
                <p>
                  6th Floor, House 223 <br>
                  15 Lake Road, Mohakhali DOHS, Dhaka<br>
                  Bangladesh <br>
                <strong>Phone: <a href="tel:+8801911102455">0 1911 102455</a> </strong> <br>
                <strong>  Email : <a href = "mailto: legal@ulka.games">legal@ulka.games</a></strong> <br> 
                  
                </p>
              </div>


            </div>

            <div class="col-lg-6   align-items-center" >
              <div class="social-links  d-flex justify-content-center">
                <a href="https://www.facebook.com/ulkagames" target="_blank"  class="facebook"><i class="fa fa-facebook socialIcon" ></i></a>
                <a href="https://www.linkedin.com/company/ulkagames" target="_blank"  class="linkedin "><i class="fa fa-linkedin socialIcon"></i></a>
                <a href="https://www.youtube.com/channel/UC9_-PSMfLtoeiJBgRnYMhBw/featured" target="_blank"  class="youtube"><i class="fa fa-youtube socialIcon"></i></a>
              </div>
              <div class=" d-flex justify-content-center">
                <a href="https://play.google.com/store/apps/developer?id=Ulka+Games">
                  <img src="newsite/img/store.png" alt="Ulka Games" target="_blank" style="width:200px; height: auto; margin-left: 10px;">
                </a>
              </div>
              
          </div>
            
          </div>

    

        </div>

      </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Ulka Games</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://ulka.games/">Ulka Games</a>
        </div>
      </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="newsite/vendor/jquery/jquery.min.js"></script>
    <script src="newsite/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="newsite/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="newsite/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="newsite/vendor/counterup/counterup.min.js"></script> -->
    <!-- <script src="newsite/vendor/venobox/venobox.min.js"></script> -->
    <!-- <script src="newsite/vendor/owl.carousel/owl.carousel.min.js"></script> -->
    <!-- <script src="newsite/vendor/waypoints/jquery.waypoints.min.js"></script> -->
    <!-- <script src="newsite/vendor/aos/aos.js"></script> -->

    <!-- Template Main JS File -->
    <script src="newsite/js/test_main.js"></script>





    <div class="overlay"></div>
    <iframe class="gameViewer" src="" width="360px" height="640px"></iframe>

    <iframe id="teenPattiGameViewer" class="gameViewer" src="" width="800px" height="615px"></iframe>

    <div class="closeGame" width="50px" height="50px" onclick="CloseGame();">
      <b>X</b>
    </div>

    



  <script>
    'use strict';
    var new_scroll_position = 0;
    var last_scroll_position;
    let teenpattiNodeActive = false;
    var header = document.getElementById("header");


    window.onload = () =>{
        teenPattiLoad();
    }

    window.addEventListener('scroll', function(e) {
      last_scroll_position = window.scrollY;
      if (window.scrollX > 0) window.scrollTo(0, last_scroll_position);

      // Scrolling down
      if (new_scroll_position < last_scroll_position && last_scroll_position >= header.offsetHeight) {
        header.classList.remove("slideDown");
        header.classList.add("slideUp");

        // Scrolling up
      } else if (new_scroll_position > last_scroll_position) {
        header.classList.remove("slideUp");
        header.classList.add("slideDown");
      }

      new_scroll_position = last_scroll_position;
    });

    function ShowOverlay() {
      var overlay = document.getElementsByClassName('overlay')[0];
      overlay.style.zIndex = "100";
      overlay.style.opacity = "1";
    }

    function HideOverlay() {
      var overlay = document.getElementsByClassName('overlay')[0];
      overlay.style.zIndex = "-100";
      overlay.style.opacity = "0";
    }

    function showMail() {
      ShowOverlay();
      var form = document.getElementsByClassName('mailForm')[0];
      form.style.zIndex = "101";
      form.style.opacity = "1";
    }

    function hideMail() {
      HideOverlay();
      var form = document.getElementsByClassName('mailForm')[0];
      form.style.zIndex = "-101";
      form.style.opacity = "0";
    }

    function ShowGame(gameName) {
      ShowOverlay();
      var gameView = document.getElementsByClassName('gameViewer')[0];
      var closeBtn = document.getElementsByClassName('closeGame')[0];
      gameView.style.opacity = "1";
      gameView.style.zIndex = "200";
      gameView.src = "subgames/" + gameName + "/index.html";

      closeBtn.style.opacity = "1";
      closeBtn.style.zIndex = "201";
    }

    function CloseGame() {


      location.replace("/")
      // HideOverlay();
      // // var gameView = document.getElementsByClassName('gameViewer')[0];
      // // gameView.style.opacity = "0";
      // // gameView.style.zIndex = "-200";
      // // gameView.src = "";


      // if(!teenpattiNodeActive)
      // {
      //   let gameView = document.getElementsByClassName('gameViewer')[0];
      // gameView.style.opacity = "0";
      // gameView.style.zIndex = "-200";
      // gameView.src = "";
      // }

      // else
      // {
      //   let gameView =  document.getElementById('teenPattiGameViewer');
      // gameView.style.opacity = "0";
      // gameView.style.zIndex = "-200";
      // gameView.src = "";
      // teenpattiNodeActive = false;
      // }



      // var closeBtn = document.getElementsByClassName('closeGame')[0];
      // closeBtn.style.opacity = "0";
      // closeBtn.style.zIndex = "-201";



    }

    function SmoothScroll(_target, _duration) {
      window.scrollTo(0, 0);

      var target = document.getElementsByClassName(_target)[0];
      var targetPos = target.getBoundingClientRect().top;
      var startPos = window.scrollY;
      var dist = targetPos - startPos;
      var startTime = null;

      var animation = function(_currentTime) {
        if (startTime == null) startTime = _currentTime;
        var timeElapsed = _currentTime - startTime;
        var run = Ease(timeElapsed, startPos, dist, _duration);
        window.scrollTo(0, run);
        if (timeElapsed < _duration) requestAnimationFrame(animation);
      };

      requestAnimationFrame(animation);
    }

    function Ease(time, startPos, dist, dur) {
      time /= dur / 2;
      if (time < 1) return dist / 2 * time * time + startPos;
      time--;
      return -dist / 2 * (time * (time - 2) - 1) + startPos;
    }



    let isMobile = {
      Android: function () {
        return navigator.userAgent.match(/Android/i);
      },
      BlackBerry: function () {
        return navigator.userAgent.match(/BlackBerry/i);
      },
      iOS: function () {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
      },
      Opera: function () {
        return navigator.userAgent.match(/Opera Mini/i);
      },
      Windows: function () {
        return navigator.userAgent.match(/IEMobile/i);
      },
      any: function () {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
      }
    };



    function teenPattiLoad() {
      
      ShowOverlay();
      teenpattiNodeActive = true;
      let gameView = document.getElementById("teenPattiGameViewer");
      let closeBtn = document.getElementsByClassName('closeGame')[0];
      gameView.style.opacity = "1";
      gameView.style.zIndex = "200";
      gameView.src = "https://ls-3.teenpattigold.com/web?src=ulka";
      closeBtn.style.opacity = "1";
      closeBtn.style.zIndex = "201";


      gameView.onload = () => {
  
  if (isMobile.any() || isMobile.iOS()) {


    if (gameView.requestFullscreen) {
      gameView.requestFullscreen();
    } else if (gameView.mozRequestFullScreen) { /* Firefox */
      gameView.mozRequestFullScreen();
    } else if (gameView.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
      gameView.webkitRequestFullscreen();
    } else if (gameView.msRequestFullscreen) { /* IE/Edge */
      gameView.msRequestFullscreen();
    }

    gameView.width = "100%";
    gameView.height = "100%";
  }


};

    
    }







  </script>


</body>

</html>
